


.page-nav {
    position: sticky;
    z-index: 20;
    bottom: calc(var(--negative-global-padding) + 10px);
    width: calc(100% + var(--global-padding) * 2);
    margin-left: var(--negative-global-padding);
}

.page-nav-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.page-nav a {
    font-family: 'MyName';
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.page-nav-progress {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform-origin: left center;
    transform: translateY(-50%);
    pointer-events: none;
}

@media (max-width: 660px) {
    .page-nav a {
        font-size: 0.8em;
    }
}

@media (max-width: 550px) {
    .page-nav a {
        font-size: 0.6em;
    }
}

@media (max-width: 430px) {
    .page-nav a {
        font-size: 0.45em;
    }
}


