


.page-nav {
    position: sticky;
    z-index: 20;
    --negative-padding: calc(var(--global-padding) * -1);
    bottom: var(--negative-padding);
    width: calc(100% + var(--global-padding) * 2);
    margin-left: var(--negative-padding);
    margin-bottom: var(--negative-padding);
}

.page-nav-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.page-nav a {
    font-family: 'MyName';
    font-size: 1em;
    cursor: pointer;
    color: white;
}

.page-nav-progress {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform-origin: left center;
    transform: translateY(-50%);
    pointer-events: none;
}


