


.portfolio {
    align-content: center;
}

.portfolio section {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 420px;
    align-items: center;
}

.portfolio-section-content {
    width: 100%;
}

.portfolio-section-name {
    font-family: 'XanhMonoItalic', Courier, monospace;
    font-size: 7em;
    font-weight: 900;
    margin-bottom: 100px;
}

@media (max-width: 720px) {
  .portfolio-section-name {
        font-size: 5em;
    }
}


/* --- SKILLS */

.skills-list {
    margin-top: 42px;
}

.skills-list h2 {
    font-family: 'XanhMonoItalic';
}

.skills-list ul {
    display: flex;
    padding: 0;
    flex-flow: row wrap;
    gap: 12px;
    list-style: none;
}

.skills-listing {
    display: flex;
    height: 48px;
    padding: 4px 16px 4px 8px;
    align-items: center;
    gap: 16px;
    border-top: 2px solid white;
    border-bottom: 1px dashed white;
}

.skills-listing img {
    width: 32px;
}

.skills-listing h3 {
    font-size: 1em;
    font-family: 'JetBrainsMono', monospace;
}


/* --- PROJECTS */

.project-details {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 36px 8px;
    color: black;
}

.frame button {
    font-family: "SierraSCI", monospace;
}

.project-details-label {
    font-family: "JetBrainsMono", monospace;
    font-size: 1em;
}

.project-details-name {
    font-family: "XanhMono", monospace;
    font-size: 6em;
    margin-bottom: 42px;
}

.project-details-tagline {
    font-size: 1.3em;
    margin-bottom: 64px;
}

@media (max-width: 720px) {
    .project-details-name {
        font-size: 4.5em;
    }

    .project-details-tagline {
        font-size: 1.2em;
        margin-bottom: 64px;
    }
}

.project-details .slideshow {
    margin-bottom: 64px;
}

.project-link {
    padding: 18px 24px;
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 255, 0);
    border-radius: 10px;
    color: rgb(0, 255, 0);
    cursor: pointer;
}

.project-link:hover {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

.project-details-info {
    display: flex;
    margin: 42px 0 64px;
    gap: 42px;
}

.project-details-description {
    position: relative;
    padding-top: 42px;
    border-top: 24px black double;
    max-width: 800px;
    flex: 1 1 600px;
}

.project-details-description p + p {
    margin-top: 32px; 
}

.project-details-description li {
    margin-top: 6px;
    list-style: none;
    text-indent: 1.5em hanging;
}

.project-slide-counter {
    position: absolute;
    top: 4px;
    right: 0;
    font-family: 'JetBrainsMono', monospace;
    font-weight: 200;
    font-size: 12px;
}

.project-details .slide h4 {
    font-family: 'JetBrainsMono', monospace;
}

.project-details-skills {
    height: fit-content;
    min-width: 300px;
    max-width: 440px;
    padding: 24px;
    background-color: black;
    color: #00FF00;
    flex: 0 2 350px;
}

@media (max-width: 800px) {
    .project-details-info {
        flex-flow: column;
    }

    .project-details-description {
        flex: 1 0 240px;
        margin-bottom: 36px;
    }

    .project-details-skills {
        max-width: 100%;
    }
}

.project-details-skills p {
    margin-bottom: 20px;
}

.project-details .skills-list {
    margin: 0;
}

.project-details .skills-list ul {
    margin: 4px 0 16px;
    gap: 2px;
}

.project-details .skills-list h2 {
    font-size: 1em;
}

.project-details .skills-listing {
    height: 36px;
    padding: 3px 12px 3px 6px;
    gap: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #00FF00;
}

.project-details .skills-listing img {
    width: 24px;
}

.project-details .skills-listing h3 {
    font-size: 0.6em;
}

.portfolio-project-list {
    display: flex;
    flex-flow: column;
    gap: 36px;
    max-width: 460px;
}

#portfolio-projects .frame-button {
    width: 100%;
    padding-bottom: 26%;
    background-repeat: no-repeat;
    background-size: contain;
}

.jamashop .frame-button {
    background-image: url('/images/portfolio/projects/jamashop/jamashop_banner.gif');
}

.bluedit .frame-button {
    background-image: url('/images/portfolio/projects/bluedit/bluedit_banner.gif');
}

.cgcn .frame-button {
    background-image: url('/images/portfolio/projects/cgcn/cgcn_banner.png');
}


/* --- EXPERIENCE */

.experience + .experience {
    margin-top: 80px;
}

.experience ul {
    margin-top: 6px;
    padding-top: 12px;
    padding-left: 0.75em;
    border-left: 1px dashed white;
}

.experience li {
    margin-bottom: 12px;
    font-family: 'JetBrainsMono', monospace;
    font-size: 1.1em;
    list-style: square;
}

.experience b {
    font-weight: 900;
}

.experience-time {
    font-family: 'JetBrainsMonoItalic';
    font-size: 1.3em;
}


/* --- CONTACT */

#portfolio-contact a {
    font-family: 'JetBrainsMono', monospace;
    color: rgb(0, 255, 0);
}

#portfolio-contact a:hover {
    color: rgb(255, 255, 0);
}









