


#root {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: left;
}

.main-content-container {
  width: 100%;
  height: 100%;
  max-width: 780px;
  margin: 0 auto;
  padding: 100px 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.page-description {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
  font-size: 1em;
}

.background-canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.flavor-menu {
  position: absolute;
}

.item-pickup {
  width: 22px;
  height: 22px;
  image-rendering: pixelated;
}

@keyframes spritesheetY {
     0% { background-position-y:   0px; }
   100% { background-position-y: 100%; }
}

@keyframes spritesheetX {
     0% { background-position-x:   0px; }
   100% { background-position-x: 100%; }
}

@keyframes lockOut {
	0%{
		transform: scale(0.9);
	}
	15%{
		transform: scale(0.9);
	}
	25%{
		transform: scale(1.2);
		transition-timing-function: ease-in;
	}
	100%{
		transform: scale(1);
	}
}
